/MultiThreadedListSumClassic$Worker.class
/MultiThreadedListSumClassic.class
/MultiThreadedListSumWithStreams$Worker.class
/MultiThreadedListSumWithStreams.class
/SumList.class
/TestListSumClassic.class
/TestListSumWithStreams.class
